* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/wallpaperDaytime.jpg);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#login {
  text-align: center;
}

.btn_howtouse {
  background: none;
  border: none;
  background-image: url("images/cloudSun.png");
  background-size: cover;
  height: 140px;
  width: 150px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 150%;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.btn_howtouse:hover {
  transform: translateY(-2px);
}

.btn_howtouse_one {
  position: absolute;
  left: 85%;
  top: 0%;
}

#login h3 {
  margin-top: 50px;
  font-size: 200%;
  letter-spacing: 1px;
  word-spacing: 2px;
}

#login h1 {
  margin-top: 30px;
  font-size: 270%;
  letter-spacing: 3px;
  word-spacing: 10px;
}

.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 31%;
  top: 50px;
  background-image: linear-gradient(rgb(252, 166, 116), yellow);
  border-radius: 10px;
  height: 300px;
  width: 500px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

  color: rgb(255, 255, 255);
}

.login_form h2 {
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.username--login,
.password--login {
  height: 25px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-left: 25%;
}

.btn1 {
  background: none;
  background-image: url("images/sun.png");
  background-size: cover;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 70px;
  margin-top: 20px;
  margin-left: 43%;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.btn1:hover {
  transform: translateY(-2px);
}

#wrong {
  position: absolute;
  background-color: #fa7304;
  box-shadow: 2px 2px 2px #0d0e4438;
  color: aliceblue;
  height: 60px;
  width: 400px;
  border-radius: 5px;
  text-align: center;
  padding-left: 20px;
  padding-top: 5px;
  margin-top: 15px;
  left: 10%;
}

#wrong p {
  font-size: 20px;
}

.create__account--scroll_explanation {
  margin-top: 80px;
  font-size: 140%;
  letter-spacing: 2px;
  color: white;
}

.create__account--btn_scroll {
  position: relative;
  transform: rotate(270deg);
  border-radius: 100%;
  border: none;
  height: 80px;
  width: 80px;
  cursor: pointer;
  font-size: 130%;
  background-color: #fcfce181;
  margin-top: 20px;
}

#create__account--body {
  position: relative;
  /* border-top-color: #0359b6; */
  height: 600px;
  top: 300px;
}

.btn_howtouse_two {
  position: sticky;
  left: 5%;
  top: 80%;
}

.create__account--form {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fafa01f6;
  border-radius: 15px;
  box-shadow: 0 5px 10px #0d0e4488;
  height: 500px;
  width: 800px;
  color: black;
  text-align: center;
  gap: 10px;
  top: 30px;
  left: 290px;
}

.create__account--form h1 {
  color: #0359b6;
  font-size: 45px;
  margin: 25px;
  margin-bottom: 0;
  letter-spacing: 3px;
}

.create__account--form_explanation {
  color: #0359b6;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 25px;
}

.create__account--username_explanation,
.create__account--password_explanation {
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.create__account--username_warning {
  color: rgb(235, 231, 0);
  letter-spacing: 2px;
  font-size: 18px;
}

.create__account--input_username,
.create__account--input_password {
  height: 25px;
  width: 300px;
  margin-left: 30%;
  margin-top: 10px;
  letter-spacing: 1px;
  padding-left: 5px;
  border-radius: 3px;
  border: none;
}

.create__account--input_password {
  margin-bottom: 35px;
}

.create__account--btn_next {
  height: 50px;
  width: 130px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: #00a9dd;
  color: white;
  font-family: "Arial";
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-left: 40%;
  transform: rotate(180deg);
  transition: all 0.2s;
}

.create__account--btn_next:hover {
  background-color: #33ffcc;
}

.create__account--you_will_need {
  position: absolute;
  background-color: rgb(255, 187, 0);
  color: rgb(192, 0, 0);
  font-size: 120%;
  text-align: left;
  height: 120px;
  width: 220px;
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 100%;
  right: 20px;
  bottom: 20px;
}

.create__account--slider {
  position: relative;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 236, 236));
  height: 300px;
  width: 600px;
  border-radius: 5px;
  top: 5px;
  left: 12%;
  overflow: hidden;
}

.create__account--dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.create__account--dots_dot {
  border: none;
  background-color: #868585;
  opacity: 0.7;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.create__account--dots_dot:last-child {
  margin: 0;
}

.create__account--dots_dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

.create__account--slider h2 {
  position: absolute;
  color: rgb(0, 1, 80);
  font-size: 40px;
  word-spacing: 20px;
  letter-spacing: 2px;
  left: 30%;
  top: 20px;
}

.create__account--slider p {
  font-size: 130%;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.create__account--goal_name {
  position: absolute;
  left: 23%;
  top: 90px;
}

.create__account--goal_date {
  position: absolute;
  left: 23%;
  top: 180px;
}

.create__account--slider input {
  border-radius: 3px;
  border-color: #035ab667;
  height: 25px;
  padding-left: 10px;
  letter-spacing: 1px;
}

.create__account--input_goal_name {
  width: 300px;
}

.create__account--btn_slider {
  position: absolute;
  border-radius: 100px;
  border: none;
  background-color: rgba(0, 0, 0, 0.116);
  height: 35px;
  width: 35px;
  top: 43%;
  font-size: 120%;
}

.create__account--btn_slider:hover {
  cursor: pointer;
  background-color: #0000004d;
  transition: all 0.5s;
}

.create__account--btn_left {
  left: 20px;
}

.create__account--btn_right {
  right: 20px;
}

.create__account--set_goals_later {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-size: 110%;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.create__account--set_goals_later:hover {
  color: #00bef8;
  transform: translateY(-2px);
}

#body2 {
  background-color: #fcfce1;
}

#welcome {
  background-image: url("images/cloud.png");
  background-size: 270px;
  background-position-x: center;
  background-position-y: center;
  font-size: 28px;
  font-family: cursive;
  margin-left: 20px;
  margin-top: 0px;
  padding: 40px;
  padding-left: 60px;
  padding-top: 80px;
  text-align: center;
}

.title_date {
  display: flex;
  gap: 160px;
}

.title {
  font-size: 45px;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-family: cursive;
  margin-top: 45px;
  margin-left: 85px;
  text-align: center;
}

.date_and_times_left {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.date {
  font-size: 20px;
  font-family: cursive;
  margin-top: 20px;
  margin-left: 50px;
}

.times_left-outside {
  display: flex;
  flex-direction: column;
  background-color: #fa0404;
  box-shadow: 0 3px 4px hsla(239, 61%, 34%, 0.31);
  border-radius: 3px;
  width: 200px;
  margin-left: 50px;
}

.times_left-outside p {
  display: flex;
  font-size: 22px;
  color: #fcfce1;
}

.p_one {
  padding: 3px;
  margin-left: 10px;
}

.p_two {
  padding: 3px;
  margin-left: 85px;
}

.times_left-inside {
  background-color: #fcf3a9;
  font-size: 90px;
  height: 90px;
  width: 100px;
  margin-left: 50px;
  border-radius: 2px;
  text-align: center;
}

/* Cards Grid */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 20px;
  margin-top: 45px;
  margin-bottom: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(162, 255, 227);
  height: 250px;
  padding-bottom: 30px;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.card h2 {
  margin-top: 15px;
}

.bottom_content {
  display: flex;
  gap: 20px;
}

.days {
  background-color: bisque;
  height: 120px;
  width: 135px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  margin-top: 50px;
  margin-left: 30px;
  letter-spacing: 5px;
  font-size: 70px;
  cursor: pointer;
}

.card p {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  font-size: 30px;
}

.more {
  background-color: rgb(240, 248, 255, 0.8);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 27px;
  padding-left: 35px;
  gap: 10px;
  width: 350px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.fukidashi_container {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  top: -80%;
}

.fukidashi {
  height: 320px;
}

.additional {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  text-align: left;
  gap: 10px;
  letter-spacing: 2px;
  word-spacing: 110%;
  top: 32%;
  left: 55px;
}

.btn_and_warning {
  display: flex;
  gap: 40px;
}

.btn {
  font-size: 150%;
  background: #9ad411;
  color: white;
  border: none;
  height: 70px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 41%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn:hover {
  background: #f8e800;
  transform: translateY(-2px);
}

.warning_counter {
  background-color: #ffee00;
  color: #0e0000;
  height: 100px;
  width: 250px;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  padding-top: 22px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 254, 246, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay_in {
  top: 30px;
  right: 40px;
  background-image: linear-gradient(rgb(253, 255, 117), rgb(255, 172, 95));
  height: 600px;
  width: 550px;
  border-radius: 10px;
  margin-left: 30%;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
}

.x {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
  width: 30px;
  margin-top: 5px;
  margin-left: 515px;
}

.x:hover {
  color: #007bff;
  transform: translateY(-2px);
}

.hidden {
  display: none;
}
